{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NITT-Connect!!</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="images/icon.ico" />
</head>

<body>
<div id="headWrap">
 <div id="headpanel">
  <div id=""><font face="Verdana" color="white"><h1>NITT Connect!</h1></font></div>
  <div id="menu">
   <ul>
    <li><a href="#">Home</a></li>
    <li><div class="gap"></div></li>
    <li><a href="#">Newsletter</a></li>
    <li><div class="gap"></div></li>
    <li><a href="#">Want to Post??</a></li>
     <li><div class="gap"></div></li>
    <li><a href="#">Log Out</a></li>
    <li><div class="gap"></div></li>
    <li><a href="contactus.html">Contact Us</a></li>
   </ul>
  </div>
 </div>
</div>
<div id="contentWrap">
 <div id="contentPanel">
  <div id="leftPanel">
   <div class="toplinks">
   <h2>Hot-Short Topics</h2>
   <p>People @ NITT are talking about...</p>

    <ul>
     <li><a href="#">FooOOOood</a></li>
     <li><a href="#">Computers</a></li>
     <li><a href="#">Dance</a></li>
     <li><a href="#">Muzic</a></li>
     <li><a href="#">VLSI</a></li>
     <li><a href="#">Lectures</a></li>
     <li><a href="#" class="bottom">BooMBoX</a></li>
    </ul>

   </div>
<!--   <form action="auth/" method="post">{% csrf_token %}
   <div id="loginPanel">
    <h2>User Login</h2>
    <h3>Please Login with your CSG credentials</h3>
    <input name="username" type="text" value="Name" onfocus="if(this.value=='Name')this.value=''" onblur="if(this.value=='')this.value='Name'"/>
     <div class="blank"></div>
    <input name="password" type="password" value="Password" onfocus="if(this.value=='Password')this.value=''" onblur="if(this.value=='')this.value='Password'"/>
    <p>Not a member yet? <a href="#">Register Now</a></p>
   <a href="#" class="login">Login</a>
	<input type="submit" value="Login"/>
   </div> -->
  </div> 
 


  <div id="middlePanel">
   <div class="top">
    <h2>From our Director's Desk</h2>
    <h3>I am very pleased to inform all of you out there that our Prime Minister Manmohan Singh is going to inaugrate silver
	jublee building.. </h3>

	{% if adminPosts.count > 0 %}
	{% for posts in adminPosts %}
	<p>	
		<a href="#"><span>{{ posts.subject }}</span></a><br>
		{{ posts.post|truncatewords:"50" }}
	</p>
	{% endfor %}
	{% else %}
		<p>
			<span>No Posts in the Database</span>
		</p>	

	{% endif %}
	
	
	
<!--
    <p><span>Festember was a huge success!!</span> Great job done people, proud of you. malesuada sed, varius ac, sagittis et, ipsum. Nullam posuere porttitor orci. Quisque semper.</p>
    <p>Curabitur urna elit, <span>egestas condimentumsemper</span> etrhoncus matti quam. Nulla suscipit erat ac odio. tumsemper etrhoncus  wuam.</p>
-->
    <a href="#">Read More</a>
   </div>
   <div class="bottom">
   <h2>Our main purpose</h2>
   <h3>To help people in various deparments connect and communicate </h3>
   <div class="pic3"></div>
   <ul>
    <li><a href="#">Maecenas pellentesque ipsum in pedec urabitur</a></li>
    <li><a href="#">Pellentesque habitant morbi tristique senectus</a></li>
    <li><a href="#">Nulla bibendum eros sed ultrices sollicitudin</a></li>
    <li><a href="#" class="bottom">Sed adipiscing orci metus vestibulum nibh</a></li>
   </ul>
  </div>
  </div>
  <div id="rigtPanel">
   <div class="services">
    <h2>New service overview</h2>
    <ul>
     <li>
       <div class="cal">14<span>September</span></div>
       <h2>Suspendisse tortor leo!!!</h2>
       <p>Nullam dapibus laoreet magna.uspendisse tortor leo.</p>
       <a href="#">Quisque vel metus non ante vehicula consectetuer. </a>
       <div class="author"><span>BY</span> jone jackson</div>
     </li>
     <li>
       <div class="cal">16<span>June</span></div>
       <h2>Wqeruspendisse tortor de!!!</h2>
       <p>Nullam dapibus laoreet magna.uspendisse tortor leo.</p>
       <a href="#">Quisque vel metus non ante vehicula consectetuer. </a>
       <div class="author"><span>BY</span> jone jackson</div>
     </li>
    </ul>
   </div>
   <div class="contacts">
    <h2>Quick Posts</h2>
    <input name="name" type="text" value="Your Name" onfocus="if(this.value=='Your Name')this.value=''" onblur="if(this.value=='')this.value='Your Name'"/>
    <input name="email" type="text" value="Your E-mail Address" onfocus="if(this.value=='Your E-mail Address')this.value=''" onblur="if(this.value=='')this.value='Your E-mail Address'"/>
    <textarea name="txt_msg"  rows="" cols="" onfocus="if(this.value=='Put your message here')this.value=''" onblur="if(this.value=='')this.value='Put your message here'">Put your message here</textarea>
    <a href="#">Submit</a>
   </div>
  </div>
 </div>
</div>
<div id="footWrap">
 <div id="footPanel">
  <div id="footNav">
   
  </div>
  <p>© Copyright Information Goes Here. All Rights Reserved.</p>
  <p>Designed by <a href="http://www.tumblr.com/gaurex">Gaurav</a></p>
  <div id="validation">
  
  </div>
 </div>
</div>
</body>
</html>
