{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NITT-Connect!!</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="images/icon.ico" />
</head>

<body>
<div id="headWrap">
 <div id="headpanel">
  <div id=""><font face="Verdana" color="white"><h1>NITT Connect!</h1></font></div>
  <div id="menu">
   <ul>
    <li><a href="#">Home</a></li>
    <li><div class="gap"></div></li>
    <li><a href="#">Newsletter</a></li>
    <li><div class="gap"></div></li>
    <li><a href="userPost">Want to Post??</a></li>
    <li><div class="gap"></div></li>
    <li><a href="logout">I'm Out</a></li>
    <li><div class="gap"></div></li>
    <li><a href="contactus">Contact Us</a></li>
   </ul>
  </div>
 </div>
</div>
<div id="contentWrap">
 <div id="contentPanel">
  <div id="leftPanel">

	

  </div> 


 


  <div id="middlePanel">

	<form action="/polls/auth/logged/home/userPost/{{ user_id }}/" method='post'>{% csrf_token %}

	{{ form.as_ul }}	

	<input type="submit" value="Post"/>

	</form>

  </div>

  <div id="rigtPanel">
   <div class="services">
   
   </div>
  </div>
 </div>
</div>
<div id="footWrap">
 <div id="footPanel">
  <div id="footNav">
   
  </div>
  <p>© Copyright Information Goes Here. All Rights Reserved.</p>
  <p>Designed by <a href="http://www.tumblr.com/gaurex">Gaurav</a></p>
  <div id="validation">
  
  </div>
 </div>
</div>
</body>
</html>
